#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: white;
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  background-image: url('./assets/miles.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App {
  background-color: rgba(14, 18, 151, 0.664);
  padding: 2rem;
  border-radius: 16px;
}

